dill==0.4.1
multiprocess==0.70.19
numpy==2.5.2
pandas==3.0.5
pathos==0.3.5
pox==0.3.7
ppft==1.7.8
PySide6==6.11.2
PySide6-DS==4.7
pyside6-utils==1.2.2
PySide6_Addons==6.11.2
PySide6_Essentials==6.11.2
python-dateutil==2.9.0.post0
setuptools==84.0.0
shiboken6==6.11.2
six==1.17.0
cryptography>=41.0.0
commitizen>=4.18.0
qrcode>=8.0
pillow>=10.0
